.my-order{
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    margin-top: 12px;
    width: 1171px;
}
.order-step{
    display: flex;
    border-bottom: 1px solid #E4E9F2;
    margin-top: 20px;
    margin-bottom: 43px;
    padding-bottom: 29px;
    width: 1171px;
}
.step-1,
.step-2,
.step-3{
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #959FB3;
}
.step-2{
    position: relative;
    top: 4px;
}
.step-3{
    position: relative;
    top: 5px;
}
.step-1.checked{
    color: #101426;
}
.step-1::before{
    content: url(./assets/svg/basket-on-basket.svg);
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.step-1::after{
    content: url(./assets/svg/arrow-on-basket.svg);
    margin: 0 16px 0 16px;
}
.step-1.current-step::before{
    content: url(./assets/svg/basket-on-basket-blue.svg);
}
.step-2::before{
    content: url(./assets/svg/people-on-basket.svg);
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.step-2::after{
    content: url(./assets/svg/arrow-on-basket.svg);
    margin: 0 16px 0 16px;
}
.step-2.current-step::before{
    content: url(./assets/svg/people-on-basket-blue.svg);
}
.step-2.checked::before{
    content: url(./assets/svg/people-on-basket-black.svg);
}
.step-2.checked{
    color: #101426;
}
.step-3::before{
    content: url(./assets/svg/check-on-basket.svg);
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.step-3.current-step::before{
    content: url(./assets/svg/check-on-basket-blue.svg);
}
.current-step{
    color: #3965FF;
}

.product-in-basket-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 28px;
}
.product-in-basket-container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #F1F4F9;
    border-radius: 16px;
    transition: all 0.3s;
    padding: 22px 24px 22px;
    height: 111px;
    width: 1171px;
}
.product-in-basket-container:hover{
    box-shadow: 0px 12px 28px rgba(40, 42, 43, 0.12);
}
.product-in-basket{
    display: flex;
}
.product-in-basket-img{
    margin-right: 17px;
    width: 58px;
    height: 65px;
}
.product-in-basket-description-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-in-basket-title{
    position: relative;
    top: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #373E54;
}
.product-in-basket-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    color: #373E54;
}
.product-in-basket-price-wrapper{
    display: flex;
    align-items: center;
}
.product-in-basket-price{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    color: #373E54;
    margin-right: 37px;
}
.product-price{
    position: relative;
    top: -5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #373E54;
}
.add-product{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F4F9;
    border-radius: 21px;
    margin-right: 20px;
    width: 104px;
    height: 40px;
}
.counter-product{
    display: flex;
    gap: 12px;
}
.change-amount-product{
    cursor: pointer;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
}
.amount-products{
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}
.total-cost-wrapper{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    color: #373E54;
    margin-right: 65px;
}
.total-cost{
    position: relative;
    top: -5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #373E54;
}
.trash-can{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    margin-right: 24px;
}

.basket-is-empty{
    display: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    color: #373E54;
    width: 1171px;
}
.amount-payable-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1171px;
    height: 167px;
}
.amount-payable-container{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    color: #373E54;
    margin-top: 6px;
}
.amount-payable{
    position: relative;
    top: -15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 180%;
    color: #373E54;
}
.go-to-checkout{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    background: linear-gradient(225deg, #40C6FF 0%, #4086F1 50.52%, #8458FF 100%);
    box-shadow: 0px 12px 20px -8px rgba(0, 41, 255, 0.4), inset 0px 6px 19px rgba(255, 255, 255, 0.45);
    border-radius: 48px;
    width: 323px;
    height: 76px;
}
.go-to-checkout:hover{
    background: linear-gradient(225deg, #8458FF 0%, #4086F1 50.52%, #40C6FF 100%);
}
.go-to-checkout::before{
    content: url(./assets/svg/basket-on-basket-btn.svg);
    margin-right: 13px;
}

.customer-data-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1171px;
}
.new-customer-checkbox{
    display: flex;
    gap: 12px;
    margin-bottom: 31px;
}
.new-customer,
.old-customer{
    display: flex;
    align-items: center;
    border: 1px solid #E4E9F2;
    border-radius: 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    width: 277px;
    height: 57px;
}
.new-customer:hover,
.old-customer:hover{
    cursor: pointer;
    border: 1px solid #3965FF;
}
.new-customer:hover::before,
.old-customer:hover::before{
    border: 5px solid #3965FF;
}
.new-customer::before,
.old-customer::before{
    content: '';
    border: 2px solid #D2D4D9;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 24px;
    width: 20px;
    height: 20px;
}
#new-customer:checked ~ .new-customer,
#old-customer:checked ~ .old-customer{
    border: 1px solid #3965FF;
}
#new-customer:checked ~ .new-customer::before,
#old-customer:checked ~ .old-customer::before{
    content: '';
    border: 5px solid #3965FF;
    width: 20px;
    height: 20px;
}

.regular-customer{
    display: flex;
    margin-top: 26px;
    cursor: pointer;
}
.regular-customer-around{
    border: 2px solid #D2D4D9;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
#regular-customer:checked ~ .regular-customer .regular-customer-around{
    border: 5px solid #3965FF;
    width: 20px;
    height: 20px;
}
.profile-main-form{
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 43px;
}
.profile-main-form::after{
    content: '';
    position: absolute;
    bottom: 0;
    background: #E4E9F2;
    width: 679px;
    height: 1px;
}

.delivery-wrapper{
    position: relative;
    padding-bottom: 55px;
}
.delivery-wrapper::after{
    content: '';
    position: absolute;
    bottom: 0px;
    background-color: #E4E9F2;
    width: 679px;
    height: 1px;
}
.delivery-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
}
.pickup{
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #E4E9F2;;
    border-radius: 16px;
    cursor: pointer;
    padding: 22px 33px 0 60px;
    margin-bottom: 20px;
    width: 679px;
    height: 129px;
}
.pickup-description{
    width: 424px;
}
.pickup-description::before,
.home-delivery-description::before{
    content: '';
    position: absolute;
    left: 25px;
    top: 35px;
    border: 2px solid #D2D4D9;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.delivery{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 2px;
}
.delivery-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
    transition: all 0.2s;

}
.delivery-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #576077;
}
.home-delivery{
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #E4E9F2;;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 22px 33px 0 60px;
    width: 679px;
    height: 145px;
}
.home-delivery-description{
    width: 345px;
    transition: all 0.2s;
}
.home-delivery-price,
.pickup-price{
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
}
.home-delivery-price-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
#pickup:checked ~ .pickup{
    border: 1px solid #3965FF;
}
#home-delivery:checked ~ .home-delivery{
    border: 1px solid #3965FF;
    height: 170px;
}
#pickup:checked ~ .pickup .pickup-description::before,
#home-delivery:checked ~ .home-delivery .home-delivery-description::before{
    transition: all 0.1s;
    border: 5px solid #3965FF;
}
#pickup:checked ~ .pickup .pickup-description .delivery-address,
#home-delivery:checked ~ .home-delivery .home-delivery-description .delivery-address{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #3965FF;
}

.total-price-and-nds-wrapper{
    margin-top: 43px;
}
.total-price-and-nds-wrapper-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 19px;
}
.order-comment{
    outline: none;
    box-sizing: border-box;
    border: 1px solid #E4E9F2;
    border-radius: 16px;
    background: #F7F9FC;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 0 30px 0 30px;
    margin-bottom: 36px;
    width: 679px;
    height: 70px;
}
.order-comment:focus::-webkit-input-placeholder{
    transition: 0.2s;
    color: transparent;
}

.submit-order-wrapper{
    display: flex;
}
.submit-order-btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(225deg, #40C6FF 0%, #4086F1 50.52%, #8458FF 100%);
    box-shadow: 0px 12px 20px -8px rgba(0, 41, 255, 0.4), inset 0px 6px 19px rgba(255, 255, 255, 0.45);
    border-radius: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    margin: 0 22px 76px 0;
    width: 258px;
    height: 76px;
}
.submit-order-btn:hover{
    background: linear-gradient(225deg, #8458FF 0%, #4086F1 50.52%, #40C6FF  100%);
}
.submit-order-btn::before{
    content: url(./assets/svg/basket-on-basket-btn.svg);
    margin: 5px 13px 0 0;
}
.submit-order-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #576077;
    margin-top: 18px;
    width: 298px;
}

.customer-data-my-order{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #F7F9FC;
    border-radius: 16px;
    padding: 41px 35px;
    width: 380px;
    height: 234px;
}
.customer-data-my-order-title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.my-order-product{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 23px;
    border-bottom: 1px solid #E4E9F2;
}
.my-order-product-name{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px; 
}
.my-order-product-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 4px;
    color: #576077;
}
.my-order-product-price{
    align-self: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}
.my-order-total-price-wrappper{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.change-my-order{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #959FB3;
}
.my-order-total-price{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.order-data-wrapper{
    margin-bottom: 116px;
    width: 1171px;
}
.order-data-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
}
.order-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.order-data-element{
    position: relative;
    display: flex;
    border-bottom: 1px solid #F1F4F9;
    box-sizing: border-box;
    padding-top: 20px;
    width: 578px;
    height: 60px;
}
.order-data-price-wrapper{
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
    width: 578px;
    height: 60px;
}
.element-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.element-content{
    position: absolute;
    left: 263px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}
.order-data-price{
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
}
.go-to-main{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, #40C6FF 0%, #4086F1 50.52%, #8458FF 100%);
    box-shadow: 0px 12px 20px -8px rgba(0, 41, 255, 0.4), inset 0px 6px 19px rgba(255, 255, 255, 0.45);
    border-radius: 48px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    width: 307px;
    height: 76px;
}
.go-to-main:hover{
    background: linear-gradient(225deg, #8458FF 0%, #4086F1 50.52%, #40C6FF 100%);

}
.go-to-main::before{
    content: url(./assets/svg/go-to-home-btn.svg);
    margin-right: 11px;
}

.footer-main-container {
    margin-top: 0;
}

.sign-in-form-wrapper{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: none;
    transition: all 0.4s ease;
}
.sign-in-form-modal-window{
    position: relative;
    top: -50px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    border-radius: 6px;
    opacity: 0;
    width: 300px;
    height: 350px;
    transition: all 0.4s ease;
}
.sign-in-form-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}
.sign-in-form-header-title{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.42857143;
}
.close-modal-window{
    border: none;
    background: none;
    outline: none;    
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.close-modal-window:hover{
    opacity: .5;
    cursor: pointer;
}
.sign-in-form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.sign-in-entry-field-wrapper{
    position: relative;
}
.sign-in-entry-field{
    box-sizing: border-box;
    border: 1px solid #E4E9F2;
    border-radius: 16px;
    font-weight: 300;
    font-size: 17px;
    background: #F7F9FC;
    height: 70px;
    width: 268px;
    padding: 10px 31px;
    margin-top: 15px;
}
.sign-in-entry-field::placeholder{
    color: #101426;
}
.sign-in-entry-field:focus::placeholder{
    visibility: hidden;
}
.sign-in-entry-field:focus{
    outline: none;
    color: rgba(16, 20, 38, 1);
    font-size: 17px;
    font-weight: 500;
    line-height: 20.57px;
    background-color: #ffffff;
    border: 1px solid #959FB3;
}
.label-in-login-form{
    position: absolute;
    top: 39.5px;
    left: 31.5px;
    font-weight: 300;
    font-size: 17px;
    transition: all 0.3s;
}
.sign-in-forgot-password{
    display: block;
    text-decoration: none;
    color: #3965FF;
    font-weight: 300;
    margin-top: 10px;
    width: 140px;
}
.sign-in-forgot-password:hover{
    color: #101b46;
}
.sign-in-btn{
    border: none;
    background: linear-gradient(225deg, #40C6FF 0%, #4086F1 50.52%, #8458FF 100%);
    box-shadow: 0px 12px 20px -8px rgba(0, 41, 255, .4), inset 0px 6px 19px rgba(255, 255, 255,.45);
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    border-radius: 48px;
    padding: 17px 24px 16px 24px;
    margin-top: 15px;
}
.sign-in-btn:hover{
    cursor: pointer;
    background: linear-gradient(225deg, #8458FF 0%, #4086F1 50.52%, #40C6FF 100%);
}